# Node modules
node_modules/

# Environment variables
.env
.env.* 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Optional OS files
.DS_Store
Thumbs.db

# Optional build folders (if you ever build frontend or other)
dist/
build/

# SSL certificates (if you kept them locally for HTTPS)
ssl/